name: Go

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [bank, investment_calculator, profit_calculator]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3'
      - name: Build ${{ matrix.project }}
        working-directory: ./${{ matrix.project }}
        run: go build -v ./...
      - name: Test ${{ matrix.project }}
        working-directory: ./${{ matrix.project }}
        run: go test -v ./...